---
---

@import "jekyll-theme-modernist";

// Add customizations

.ck-editor__editable {
    min-height: 200px;
    max-height: 200px;
}

#copy-space {
	display: none;
}

#container {
	display: none;
}

#copy {
  position: absolute;
  width: 3.6em;
  height: 3.6em;
  top: -0.6em;
//  right: 2em;		// copy to the far right
  right: 0.8em;		// copy to the left
  box-sizing: border-box;
  z-index: 99;
  text-align: center;
  line-height: 1;
  background-color: #1c90f3;
  border: 0.2em solid white;
  border-radius: 50%;
  cursor: pointer;
}

#refresh {
  position: absolute;
  width: 1.8em;
  height: 1.8em;
//  top: -0.9em; 	// middle aligned with copy
  top: 3.1em;		// upper right hand corner of text area
//  right: 6em;		// copy to the far right
  right: 1.7em;		// below copy
  box-sizing: border-box;
  z-index: 99;
  text-align: center;
  line-height: 1;
  background-color: #ff0000;
  border: 0.2em solid white;
  border-radius: 50%;
  cursor: pointer;
}

button:focus {
  outline: none;
  border-color: #89c9ff;
}

#copy svg {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -12px 0 0 -12px;
}

#refresh svg {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -6px 0 0 -6px;
}

button svg text {display: none;}
button svg g:hover text {display: block;}

@keyframes fading {
  from {
    opacity: 1;
    transform: scale(1.1);
  }
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}

button.fading {
  animation: fading 0.5s;
  pointer-events: none;
}

#editor-section {
	border-top: none;
}

p, ul, ol, table, pre, dl {
    margin: 0 0 0px;
}

section {
    padding: 10px 20px;
}